<div class="row">

  <div class="col-md-6 mx-auto">
      <h2 class="text-center">Electronic Fence</h2>
      <form
      class="form-signin"
      [formGroup]="form"
      (submit)="submitElectornicFence($event)"
    >
      <ng-container formArrayName="electornicFence">
        <div *ngFor="let item of electornicFence.controls; let i = index">
          <div [formGroupName]="i" style="position: relative">
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input
                type="text"
                id="longitude"
                class="form-control"
                placeholder="Enter longitude"
                required
                formControlName="longitude"
              />
              <div class="error" *ngIf="isInValid(item, 'longitude')">
                *Longitude is required
              </div>
            </div>

            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input
                type="text"
                id="latitude"
                class="form-control"
                placeholder="Enter latitude"
                required
                formControlName="latitude"
              />
              <div class="error" *ngIf="isInValid(item, 'latitude')">
                *Latitude is required
              </div>
            </div>

            <div class="form-group">
              <label for="fanwei">Fanwei*</label>
              <input
                type="text"
                id="fanwei"
                class="form-control"
                placeholder="Enter fanwei"
                required
                formControlName="fanwei"
              />
              <div class="error" *ngIf="isInValid(item, 'fanwei')">
                Fanwei is required
              </div>
            </div>
            <ng-container *ngIf="i != 0">
              <p class='remove-item' (click)="removeItem(i)">X</p>
            </ng-container>
            <hr *ngIf="electornicFence.controls.length != i + 1"/>
          </div>
        </div>
      </ng-container>
      <div class="form-group text-right">
        <button class="btn" type="button" (click)="addItem()">+</button>
      </div>
      <button
        class="btn btn-md btn-success btn-block text-uppercase"
        type="submit"
      >
        Create Electronic Fence
      </button>
    </form>
  </div>
</div>
