<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <div class="sport-data">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="4">Sports</th>
          </tr>
          <tr>
            <th>Sport Step</th>
            <th>Sport Distance</th>
            <th>Sport Calorie</th>
            <th>Sport Time</th>
          </tr>
        </thead>
        <tbody
          *ngIf="
            requestCompleted.sportData && sportData && sportData.length > 0;
            else noDataFound
          "
        >
          <ng-container *ngFor="let sport of sportData">
            <tr>
              <td>{{ sport.Record.sportStep }}</td>
              <td>{{ sport.Record.sportDistance }}</td>
              <td>{{ sport.Record.sportCalorie }}</td>
              <td>{{ sport.Record.sportTime }}</td>
            </tr>
          </ng-container>
        </tbody>

        <ng-template #noDataFound>
          <tbody>
            <tr>
              <td colspan="4">No Data Found</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <div class="sleep-data">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="3">Sleep</th>
          </tr>
          <tr>
            <th>Sleep Total</th>
            <th>Sleep Low</th>
            <th>Sleep Deep</th>
          </tr>
        </thead>
        <tbody
          *ngIf="
            requestCompleted.sleepData && sleepData && sleepData.length > 0;
            else noSleepDataFound
          "
        >
          <ng-container *ngFor="let sleep of sleepData">
            <tr>
              <td>{{ sleep.Record.sleepTotal }}</td>
              <td>{{ sleep.Record.sleepLow }}</td>
              <td>{{ sleep.Record.sleepDeep }}</td>
            </tr>
          </ng-container>
        </tbody>

        <ng-template #noSleepDataFound>
          <tbody>
            <tr>
              <td colspan="3">No Data Found</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
</div>
